/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000');

.font-mulish{
    font-family: "Mulish", sans-serif;
}

.font-inter{
    font-family: "Inter", sans-serif;
}

/* .banner{
    
    background-image: url("");
    background-color: black;
} */